<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Stephen Hawkings</title>
</head>
<body>
    <div class="container">
        <h1 id="title"><i>Welcome to Stephen Hawking's site!</i></h1>
    <header>
        <li class="nav-bar">
            <ul><a class="link" href="/">Home</a></ul>
            <ul><a class="link" href="/about">About</a></ul>
            <ul><a class="link" href="/works">Works</a></ul>
        </li>
    </header>
    </div>
    {{{body}}}
</body>
</html>