<h1>Stephen Hawking's works</h1>
<div id="works-container">
    <p>His publications included The Large Scale Structure of Space-Time (1973; coauthored with G.F.R. Ellis), Superspace and Supergravity (1981), The Very Early Universe (1983), and the best sellers A Brief History of Time: From the Big Bang to Black Holes (1988), The Universe in a Nutshell (2001), A Briefer History of Time (2005), and The Grand Design (2010; coauthored with Leonard Mlodinow).</p>
    <img class="wkimg" src="/stylesheets/assets/51+GySc8ExL._AC_SY780_.jpg">
    <img class="wkimg" src="/stylesheets/assets/c6de6-briefhistorytime-1.jpg">
    <img class="wkimg" src="https://m.media-amazon.com/images/I/91Lp-IyJZ+L.jpg">
</div>