html {
    font-size: 15px;
    background-color: dimgray;
}

#home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wkimg {
    width: auto;
    height: 20rem;
    box-shadow: 1rem 2rem 3rem black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: darkgreen;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: aquamarine;
    padding: 1rem 15rem;
}

#sh-img {
    width: auto;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 3rem black;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.link:hover {
    background-color: rgba(127, 255, 212, 0.5);
    border-radius: 50%;
}

.link:hover {
    text-decoration: underline;
}

p {
    color: white;
    font-size: 1rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    text-align: justify;
}

#about-img {
    width: auto;
    height: 30rem;
    box-shadow: 2rem 2rem 3rem black;
}